[submodule "home/.vim/bundle/Command-T"]
	path = home/.vim/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "home/.vim/bundle/snipmate.vim"]
	path = home/.vim/bundle/snipmate.vim
	url = git@github.com:partkyle/snipmate.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/vim-scripts/ack.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/ZenCoding"]
	path = home/.vim/bundle/ZenCoding
	url = https://github.com/vim-scripts/ZenCoding.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
	ignore = untracked
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-align"]
	path = home/.vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
	ignore = untracked
[submodule "home/.vim/bundle/ZoomWin"]
	path = home/.vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
	ignore = untracked
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "home/.vim/bundle/searchfold"]
	path = home/.vim/bundle/searchfold
	url = git://github.com/vim-scripts/searchfold.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
	ignore = untracked
[submodule "home/.vim/bundle/yaml.vim"]
	path = home/.vim/bundle/yaml.vim
	url = git://github.com/vim-scripts/yaml.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-vividchalk"]
	path = home/.vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-irblack"]
	path = home/.vim/bundle/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-indent-object"]
	path = home/.vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
	ignore = untracked
[submodule "home/.vim/bundle/jade"]
	path = home/.vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim
	ignore = untracked
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
	ignore = untracked
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git@github.com:partkyle/oh-my-zsh.git
	ignore = untracked
[submodule "home/.vim/bundle/gundo.vim"]
	path = home/.vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/Color-Sampler-Pack"]
	path = home/.vim/bundle/Color-Sampler-Pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
	ignore = untracked
[submodule "home/.vim/bundle/AutoClose"]
	path = home/.vim/bundle/AutoClose
	url = git@github.com:partkyle/AutoClose.git
	ignore = untracked
[submodule "home/.vim/bundle/Jinja.vim"]
	path = home/.vim/bundle/Jinja.vim
	url = https://github.com/rdunklau/Jinja.vim.git
	ignore = untracked
