.DS_Store
*.swp

# vim settings
.vim/backup/*
!.vim/backup/.gitkeep
.vim/undo/*
!.vim/undo/.gitkeep

# package managers
/.npm/
/.rvm/

# config files
.Xauthority

# history files
.bash_history
.zsh_history
.zcompdump
.zcompdump.zwc

# personal files
/Applications/
/Code/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/NetBeansProjects/
/Pictures/
/Public/
/sand/
/work/
/workspace/
/.netbeans/
